/* line 5, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Feb-2015, 21:08:01
    Author     : Edit
*/
@font-face {
  font-family: sourceCodeProNormal;
  src: url(./fonts/SourceCodePro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zero-width';
  src: url("./fonts/zero-width.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zero-width';
  src: url("//:") format("No-IE-404"), url("./fonts/zero-width.woff") format("woff"), url("./fonts/zero-width.svg") format("svg"), url("./fonts/zero-width.otf") format("opentype"), url("./fonts/zero-width.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Example:
@font-face {
    font-family: 'uglyqua';
    src: url('./fonts/uglyqua-webfont.eot');
    src: url('./fonts/uglyqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/uglyqua-webfont.woff') format('woff'),
         url('./fonts/uglyqua-webfont.ttf') format('truetype'),
         url('./fonts/uglyqua-webfont.svg#uglyquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
/* 
    Created on : 06-Jan-2015, 07:57:18
    Author     : Edit
*/
/* 
    Created on : 06-Jan-2015, 07:59:51
    Author     : Edit
*/
/* 
    Created on : 06-Jan-2015, 07:56:17
    Author     : Edit
*/
/*================================= GLOBAL LAYOUTS BASE =============================================*/
/* line 11, ../components/sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 13, ../components/sass/_base.scss */
body {
  background: #3A3F39;
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #B9C8B5;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  max-width: 2000px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

/* line 29, ../components/sass/_base.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* 
    Created on : 07-Jan-2015, 21:52:49
    Author     : Edit
*/
/*=================================GLOBAL LAYOUT =============================================*/
/* line 11, ../components/sass/_layout.scss */
html {
  width: 100%;
}

/* line 16, ../components/sass/_layout.scss */
.container,
#HeaderWrapper {
  width: 100%;
  max-width: 1024px;
}

/* line 22, ../components/sass/_layout.scss */
.container {
  margin: 0 auto;
}

/* line 26, ../components/sass/_layout.scss */
#HeaderWrapper {
  margin: 0 auto;
}

/* line 30, ../components/sass/_layout.scss */
.page {
  padding: 15px 25px 0;
  box-sizing: border-box;
}

/**************************** fluid grid MAIN NAVIGATION ************************/
/* line 39, ../components/sass/_layout.scss */
#MainNav {
  margin-top: 10px;
}

/* line 43, ../components/sass/_layout.scss */
.nav {
  width: 60%;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: "zero-width";
  font-size: 0;
}
/* line 53, ../components/sass/_layout.scss */
.nav li {
  display: inline;
  width: 19%;
  padding-top: 3%;
  margin-bottom: 1%;
  font-size: 1.3rem;
  line-height: 2;
  text-align: center;
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 64, ../components/sass/_layout.scss */
.nav a {
  display: inline-block;
  margin-bottom: 0;
  padding: 20px 12px;
  line-height: 1;
  text-decoration: none;
  color: #bfcabc;
  font-weight: 700;
  font-size: 1.4em;
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: nowrap;
  border: 2px solid transparent;
}

/* line 80, ../components/sass/_layout.scss */
.nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 87, ../components/sass/_layout.scss */
.nav a:hover,
.nav li.current a {
  color: #dbedd6;
  background-color: #535a51;
  border-radius: 3px;
  border: 2px dashed #464c45;
  text-decoration: none;
}

/*.nav .placeholder {
    padding: 0;
}*/
@media screen and (max-width: 639px) {
  /* line 102, ../components/sass/_layout.scss */
  #MainNav {
    margin-top: 0;
  }

  /* line 106, ../components/sass/_layout.scss */
  .nav {
    clear: both;
    width: 100%;
    background: #2e322d;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    margin-top: 0;
    /*a:visited {
       border: 2px dashed lighten($primaryBG, 5);
    }*/
  }
  /* line 113, ../components/sass/_layout.scss */
  .nav li {
    padding-top: 0%;
  }
  /* line 118, ../components/sass/_layout.scss */
  .nav a:link {
    padding: 20px 5%;
    line-height: 1;
    font-weight: 400;
    font-size: 0.85em;
  }
  /* line 125, ../components/sass/_layout.scss */
  .nav a:hover {
    border: 2px dashed #464c45;
  }
  /* line 129, ../components/sass/_layout.scss */
  .nav a:active {
    border: 2px dashed #464c45;
  }
}
@media screen and (min-width: 320px) and (max-width: 548px) {
  /* line 143, ../components/sass/_layout.scss */
  .nav a:link {
    padding: 20px 1%;
  }
}
@media screen and (min-width: 640px) and (max-width: 678px) {
  /* line 151, ../components/sass/_layout.scss */
  .nav {
    width: 50%;
  }
  /* line 154, ../components/sass/_layout.scss */
  .nav a {
    font-size: .9em;
    padding: 20px 3px;
  }
}
@media screen and (min-width: 679px) and (max-width: 708px) {
  /* line 164, ../components/sass/_layout.scss */
  .nav {
    width: 53%;
  }
  /* line 167, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1em;
    padding: 20px 5px;
  }
}
@media screen and (min-width: 709px) and (max-width: 789px) {
  /* line 179, ../components/sass/_layout.scss */
  .nav {
    width: 55%;
  }
  /* line 182, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1em;
    padding: 20px 7px;
  }
}
@media screen and (min-width: 790px) and (max-width: 869px) {
  /* line 192, ../components/sass/_layout.scss */
  .nav {
    width: 56%;
  }
  /* line 195, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1.05em;
  }
}
@media screen and (min-width: 870px) and (max-width: 890px) {
  /* line 205, ../components/sass/_layout.scss */
  .nav {
    width: 57%;
  }
  /* line 208, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1.2em;
  }
}
/**************************** FOOTER ************************/
/* line 217, ../components/sass/_layout.scss */
#Footer {
  clear: both;
  background: #2e322d;
}
/* line 221, ../components/sass/_layout.scss */
#Footer .container {
  margin-bottom: 0;
  box-sizing: border-box;
}
/* line 225, ../components/sass/_layout.scss */
#Footer .container p {
  margin-bottom: 0;
  padding: 20px 0px;
}

/*================================= HOME PAGE LAYOUT =============================================*/
/**************************** ABOUT US -home page- ************************/
/* line 238, ../components/sass/_layout.scss */
#AboutUsContentHolder {
  padding: 15px 25px 0;
  background-color: #4b524a;
  border-radius: 3px;
  border: 2px dashed #3f443e;
}

/* line 245, ../components/sass/_layout.scss */
#HomePortfolio .grid li p.button a {
  padding: 5px 10px;
}

/*================================= OUR PORTFOLIO PAGE LAYOUT =============================================*/
/* line 253, ../components/sass/_layout.scss */
#OurPortfolioContentHolder {
  padding: 15px 25px 0;
}

/*================================= OUR BLOG PAGE LAYOUT =============================================*/
/* line 261, ../components/sass/_layout.scss */
#OurBlogGrid h2 {
  padding: 15px 25px 0;
}
/* line 268, ../components/sass/_layout.scss */
#OurBlogGrid .grid-contentHolder img {
  width: 100%;
  margin-bottom: 1%;
}
/* line 275, ../components/sass/_layout.scss */
#OurBlogGrid .grid li {
  padding-bottom: 1%;
}
/* line 279, ../components/sass/_layout.scss */
#OurBlogGrid p.button a {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 5px 10px;
}

/*================================= CONTACT US PAGE LAYOUT =============================================*/
/* line 289, ../components/sass/_layout.scss */
.contactText {
  padding: 15px 25px 0;
}

/* line 294, ../components/sass/_layout.scss */
.wrapper-decoImg {
  position: relative;
  height: 0;
}

/* line 299, ../components/sass/_layout.scss */
.container-decoImg {
  position: relative;
  left: -106%;
  padding-bottom: 103%;
  height: 0;
  width: 205%;
}
/* line 306, ../components/sass/_layout.scss */
.container-decoImg .decoImg {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/pittypang_ghost3_696x413.png) 0 0 no-repeat;
  background-size: 85% auto;
  border: 2px dashed #6b7569;
}

@media screen and (max-width: 900px) {
  /* line 320, ../components/sass/_layout.scss */
  .wrapper-decoImg {
    display: none;
  }
}
@media screen and (min-width: 900px) and (max-width: 1023px) {
  /* line 327, ../components/sass/_layout.scss */
  .container-decoImg {
    left: -108%;
    width: 207%;
  }
}
/*========================== INDIVIDUAL PORTFOLIO PAGES LAYOUTS ====================================*/
/* line 336, ../components/sass/_layout.scss */
#About, #Skills, #Portfolio, #ContactIndi {
  margin-bottom: 2%;
  padding-bottom: 1%;
  background-color: #4b524a;
  border-radius: 3px;
  border: 2px dashed #3f443e;
}

/*========================== MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS ====================================*/
@media screen and (max-width: 639px) {
  /* line 352, ../components/sass/_layout.scss */
  .container, #HeaderWrapper {
    width: 100%;
    margin-top: 0;
  }

  /* line 357, ../components/sass/_layout.scss */
  .page {
    float: left;
    clear: both;
    width: 100%;
    padding: 15px 0;
  }

  /* line 364, ../components/sass/_layout.scss */
  #AboutUsContentHolder {
    padding: 15px 15px 0;
  }

  /* line 368, ../components/sass/_layout.scss */
  #OurPortfolioContentHolder {
    padding: 15px 15px 0;
  }

  /* line 374, ../components/sass/_layout.scss */
  #OurBlogGrid h2 {
    padding: 15px 15px 0;
  }

  /* line 379, ../components/sass/_layout.scss */
  .contactText {
    padding: 15px 15px 0;
  }

  /* line 384, ../components/sass/_layout.scss */
  #Footer .container {
    padding: 0 15px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 392, ../components/sass/_layout.scss */
  #Footer .container {
    padding: 0 15px;
  }

  /* line 396, ../components/sass/_layout.scss */
  .page {
    padding: 15px 15px 0;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Feb-2015, 08:01:36
    Author     : Edit
*/
/*================================= GLOBAL TEXTS =================================*/
/* line 18, ../components/sass/_texts.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #85E14F;
  font-weight: 600;
}

/* line 24, ../components/sass/_texts.scss */
h1 {
  font-size: 1.8em;
  color: #a3e87b;
  margin-bottom: .7em;
  line-height: 1.3em;
}

/* line 31, ../components/sass/_texts.scss */
h2 {
  font-size: 1.3em;
  color: #85E14F;
  margin-bottom: .6em;
}

/* line 38, ../components/sass/_texts.scss */
h3 {
  font-size: 1.2em;
  margin-bottom: .5em;
}

/* line 43, ../components/sass/_texts.scss */
a {
  text-decoration: none;
  color: #85E14F;
  font-weight: 400;
}

/* line 49, ../components/sass/_texts.scss */
a:hover {
  text-decoration: underline;
  color: #ABF381;
}

/* line 54, ../components/sass/_texts.scss */
a, p, li {
  font-size: 1em;
  margin-bottom: .5em;
}

/* line 59, ../components/sass/_texts.scss */
ul, li {
  list-style-type: none;
}

/********** Bfitp logo *******/
/* line 65, ../components/sass/_texts.scss */
.logo-container {
  float: left;
}
/* line 68, ../components/sass/_texts.scss */
.logo-container .logo {
  display: block;
  width: 290px;
  height: 70px;
  background: url(/images/logo_with_text_290x70.png) no-repeat;
  text-decoration: none;
  text-indent: -9999px;
  margin: 5px 0;
  background-position: 0%;
}

/* line 81, ../components/sass/_texts.scss */
#HeaderWrapper .container .logo-container {
  margin-bottom: 0;
  padding: 0 10px;
}

/* line 87, ../components/sass/_texts.scss */
#TopBanner .logo-container {
  margin: 1% 0 1% 10%;
}

/********** grid *******/
/* line 94, ../components/sass/_texts.scss */
.grid li h3, .grid li h4, .grid li p {
  text-align: left;
}
/* line 99, ../components/sass/_texts.scss */
.grid li h3 {
  font-size: 1.9em;
  margin-bottom: .5em;
  color: #ABF381;
}
/* line 105, ../components/sass/_texts.scss */
.grid li h4 {
  font-size: 1.8em;
  margin-bottom: .8em;
}
/* line 111, ../components/sass/_texts.scss */
.grid li p {
  font-size: 1.3em;
}
/* line 115, ../components/sass/_texts.scss */
.grid li .email {
  font-size: 1.3em;
}
/* line 117, ../components/sass/_texts.scss */
.grid li .email a {
  font-size: 1em;
  word-wrap: break-word;
}
/* line 123, ../components/sass/_texts.scss */
.grid li p.button a {
  width: 300px;
  padding: 10px 19%;
  margin-top: 10px;
  font-size: 1.1em;
  color: #dbedd6;
  background-color: #6b7569;
  border: 2px dashed #464c45;
  border-radius: 3px;
}
/* line 134, ../components/sass/_texts.scss */
.grid li p.button a:hover {
  background-color: #464c45;
  border: 2px dashed #6b7569;
  text-decoration: none;
}

/********** grid - blog-section *******/
/* line 143, ../components/sass/_texts.scss */
.blog-section li h3 {
  font-size: 1.3em;
}
/* line 147, ../components/sass/_texts.scss */
.blog-section li h4 {
  font-size: 1.2em;
}
/* line 151, ../components/sass/_texts.scss */
.blog-section li p.button a:hover {
  background-color: #3f443e;
}

/* line 155, ../components/sass/_texts.scss */
.grid.grid-stretched-layout > li > h2 {
  font-size: 1.9rem;
  padding: 0 25px;
}

/*========================== MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS ====================================*/
@media screen and (max-width: 639px) {
  /* line 166, ../components/sass/_texts.scss */
  h1 {
    margin-top: 5%;
    font-size: 1.5em;
  }

  /* line 174, ../components/sass/_texts.scss */
  .logo-container {
    clear: both;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  /* line 182, ../components/sass/_texts.scss */
  .logo-container .logo {
    width: 100%;
    background-position: 50%;
    margin-top: 5px;
  }

  /* line 192, ../components/sass/_texts.scss */
  .grid li h3 {
    margin-top: 1.3em;
    font-size: 1.8em;
  }
  /* line 197, ../components/sass/_texts.scss */
  .grid li h4 {
    margin-bottom: .8em;
    font-size: 1.5em;
  }
  /* line 202, ../components/sass/_texts.scss */
  .grid li p {
    clear: both;
    padding-top: 10px;
    margin: 0;
  }
  /* line 209, ../components/sass/_texts.scss */
  .grid li p.button a {
    padding: 5px 10px;
    width: 90%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    font-size: 1em;
  }

  /* line 222, ../components/sass/_texts.scss */
  .grid.grid-stretched-layout > li > h2 {
    font-size: 1.9rem;
    padding: 10px 15px 0 15px;
    margin-bottom: 0;
  }

  /* line 228, ../components/sass/_texts.scss */
  #Footer .container p {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 239, ../components/sass/_texts.scss */
  .grid li h3 {
    font-size: 1.7em;
    margin-bottom: .7em;
    padding-top: 7px;
  }
  /* line 246, ../components/sass/_texts.scss */
  .grid li h4 {
    font-size: 1.4em;
    margin-bottom: .5em;
  }
  /* line 252, ../components/sass/_texts.scss */
  .grid li p.button a {
    width: 100%;
    white-space: nowrap;
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
    clear: both;
  }
}
@media screen and (min-width: 1002px) and (max-width: 1040px) {
  /* line 267, ../components/sass/_texts.scss */
  .email a {
    font-size: 1em;
    white-space: nowrap;
  }
}
/* 
    Created on : 06-Jan-2015, 08:02:58
    Author     : Edit
*/
/*================================= TOP-NAV =================================*/
/* line 9, ../components/sass/_modules.scss */
#HeaderWrapper.full-width {
  width: 100%;
}

/* line 13, ../components/sass/_modules.scss */
#TopBanner {
  width: 100%;
}

/* line 17, ../components/sass/_modules.scss */
.topNav {
  width: 45%;
  padding: 0 6%;
  box-sizing: border-box;
  margin-top: 3%;
}
/* line 23, ../components/sass/_modules.scss */
.topNav li {
  padding-top: 0;
}
/* line 26, ../components/sass/_modules.scss */
.topNav a {
  border: 2px dashed rgba(189, 222, 55, 0.1);
}
/* line 29, ../components/sass/_modules.scss */
.topNav a:link {
  padding: 2% 5%;
  font-size: 1.2em;
}

@media screen and (max-width: 639px) {
  /* line 39, ../components/sass/_modules.scss */
  #TopBanner .logo-container {
    clear: initial;
    margin-left: 0;
  }
  /* line 43, ../components/sass/_modules.scss */
  #TopBanner .logo-container .logo {
    padding: 2% 0;
    margin: 0;
  }

  /* line 50, ../components/sass/_modules.scss */
  .nav.topNav {
    clear: both;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0;
    padding: 1%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
  }
  /* line 61, ../components/sass/_modules.scss */
  .nav.topNav a:link {
    padding: 1% 4%;
    margin: 0 2%;
    font-size: 1em;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 74, ../components/sass/_modules.scss */
  #TopBanner .logo-container {
    margin-left: 1.7%;
    margin-bottom: 1%;
  }

  /* line 78, ../components/sass/_modules.scss */
  .nav.topNav {
    width: 48%;
    padding: 0 .5%;
    margin-top: 4.5%;
  }
  /* line 83, ../components/sass/_modules.scss */
  .nav.topNav a:link {
    font-size: 1em;
  }
}
/*================================= FULL-WIDTH PAGE NAV =================================*/
/* line 94, ../components/sass/_modules.scss */
#PageNav {
  background: #bdde37;
  background: rgba(189, 222, 55, 0.8);
  margin-bottom: 1%;
}

/* line 101, ../components/sass/_modules.scss */
.nav.full-width {
  float: initial;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: .5% 0;
  box-sizing: border-box;
  background: transparent;
}
/* line 110, ../components/sass/_modules.scss */
.nav.full-width li {
  padding-top: 0;
}
/* line 113, ../components/sass/_modules.scss */
.nav.full-width a {
  color: #3A3F39;
  padding: .5% 3%;
}

/* line 121, ../components/sass/_modules.scss */
.nav.full-width a:hover,
.nav.full-width li.current a {
  color: #e1f0a4;
  background: #3A3F39;
  background-color: rgba(83, 90, 81, 0.5);
  border: 2px dashed rgba(189, 222, 55, 0.3);
  text-decoration: none;
}

@media screen and (max-width: 639px) {
  /* line 131, ../components/sass/_modules.scss */
  #PageNav {
    clear: both;
  }

  /* line 134, ../components/sass/_modules.scss */
  .nav.full-width {
    background: transparent;
    padding: .5% 1%;
  }
  /* line 137, ../components/sass/_modules.scss */
  .nav.full-width a {
    padding: .7% .5%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 145, ../components/sass/_modules.scss */
  .nav.full-width {
    background: transparent;
  }
  /* line 147, ../components/sass/_modules.scss */
  .nav.full-width a {
    font-size: 1.1em;
  }
}
/*================================= GRIDS =================================*/
/****************** Default grid - beginning **********************/
/* line 164, ../components/sass/_modules.scss */
.grid {
  margin-bottom: 3%;
  text-align: justify;
  font-family: "zero-width";
  font-size: 0;
}
/* line 170, ../components/sass/_modules.scss */
.grid li {
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  width: 49%;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-bottom: 1%;
  background-color: #535a51;
  border-radius: 3px;
  border: 2px dashed #464c45;
  vertical-align: top;
}

/* line 185, ../components/sass/_modules.scss */
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 192, ../components/sass/_modules.scss */
.grid-contentHolder {
  font-size: 1rem;
  padding: 0px 25px 10px 25px;
  box-sizing: border-box;
}
/* line 197, ../components/sass/_modules.scss */
.grid-contentHolder img {
  width: 12em;
  height: auto;
  float: left;
  margin-right: 3%;
}

/**** Default grid - end ****/
/********** Stretched / full width / blog-section grid (contact us page) - beginning ***************/
/* line 213, ../components/sass/_modules.scss */
.grid.grid-stretched-layout li {
  width: 32%;
  padding-bottom: 0%;
}
/* line 217, ../components/sass/_modules.scss */
.grid.grid-stretched-layout li p.button a {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
/* line 224, ../components/sass/_modules.scss */
.grid.grid-stretched-layout img {
  width: 100%;
  height: auto;
  margin: 0 auto 4%;
  float: none;
  display: block;
}
/* line 233, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder {
  width: 100%;
}
/* line 236, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder p.min-height-applied {
  min-height: 70px;
  box-sizing: border-box;
}
/* line 241, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder .email {
  min-height: 60px;
  box-sizing: border-box;
}
/* line 245, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder .socialIcons {
  padding: 5px;
  margin-bottom: 6%;
}
/* line 249, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder .socialIcons img {
  width: 13%;
  height: auto;
  padding: 5px;
  margin: 0;
  display: inline;
}

/* line 263, ../components/sass/_modules.scss */
.grid.grid-stretched-layout > li:last-child {
  border: 2px dashed #353a34;
  background-color: #464c45;
}

/* line 267, ../components/sass/_modules.scss */
.grid.grid-stretched-layout > li:last-child .grid.grid-full-width > li {
  background-color: #464c45;
}

/* line 272, ../components/sass/_modules.scss */
.grid.grid-full-width > li {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px dashed #292c28;
  padding-top: 15px;
}

/* line 281, ../components/sass/_modules.scss */
.grid.grid-stretched-layout > li:last-child .grid.grid-full-width > li:last-child {
  border-bottom: 0;
}

/* line 285, ../components/sass/_modules.scss */
.grid.grid-full-width > li:first-child {
  padding-top: 0;
}

/* line 289, ../components/sass/_modules.scss */
.grid-stretched-layout .grid-full-width.blog-section p.button a {
  padding: 5px 10px;
}

/* line 293, ../components/sass/_modules.scss */
.grid-full-width.blog-section {
  margin-bottom: 0px;
}

/**** Stretched / full width / blog-section grid - beginning  - end ****/
/**** Grids media queries - beginning ****/
@media screen and (max-width: 900px) {
  /* line 308, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout li {
    width: 49%;
  }

  /* line 314, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout > li:last-child {
    clear: both;
    width: 100%;
  }

  /* line 319, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout > li .grid.grid-full-width > li {
    width: 100%;
  }
  /* line 322, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout > li .grid.grid-full-width > li img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 3%;
    padding-top: 12px;
    padding-bottom: 0;
    margin-bottom: 1%;
  }
  /* line 332, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout > li .grid.grid-full-width > li p {
    clear: both;
  }
}
@media screen and (max-width: 639px) {
  /* line 342, ../components/sass/_modules.scss */
  .grid li {
    width: 100%;
    padding-top: 1%;
    margin-bottom: 2%;
    box-sizing: border-box;
  }
  /* line 348, ../components/sass/_modules.scss */
  .grid li .grid-contentHolder {
    padding: 0px 15px 10px 15px;
  }
  /* line 351, ../components/sass/_modules.scss */
  .grid li .grid-contentHolder img {
    width: 11em;
    margin-right: 3%;
  }

  /* line 360, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout li {
    clear: both;
    width: 100%;
    padding-bottom: 5%;
  }
  /* line 368, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout .grid-contentHolder img {
    width: 100%;
    margin-top: 3%;
  }
  /* line 372, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout .grid-contentHolder .email {
    min-height: 70px;
    box-sizing: border-box;
  }
  /* line 377, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout .grid-contentHolder .socialIcons {
    margin-bottom: 1%;
  }
  /* line 379, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout .grid-contentHolder .socialIcons img {
    padding: 2%;
  }

  /* line 387, ../components/sass/_modules.scss */
  .grid.grid-full-width > li {
    padding-top: 0%;
  }

  /* line 392, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout > li .grid.grid-full-width > li img {
    padding-top: 0%;
    margin-top: 0%;
    width: 100%;
    margin-bottom: 4%;
  }

  /* line 401, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout {
    margin-bottom: 1%;
  }
  /* line 405, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout li:last-child {
    padding-bottom: 1%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 419, ../components/sass/_modules.scss */
  .grid li {
    width: 49%;
    padding-top: 3%;
    margin-bottom: 2%;
    box-sizing: border-box;
  }
  /* line 426, ../components/sass/_modules.scss */
  .grid .grid-contentHolder {
    min-height: 156px;
    box-sizing: border-box;
  }
  /* line 430, ../components/sass/_modules.scss */
  .grid .grid-contentHolder img {
    padding-bottom: 15px;
  }

  /* line 436, ../components/sass/_modules.scss */
  .grid.grid-stretched-layout li p.button a {
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 1.2em;
  }
}
/**** Grids media queries - end ****/
/**** Our blog-posts - Default grid extension for our blog page - beginning ****/
/* line 452, ../components/sass/_modules.scss */
.blog-post h3, .blog-post h4 {
  clear: both;
  min-height: 3.1em;
  font-size: 1.5em;
  line-height: 1.5;
  padding-top: .4em;
}
/* line 460, ../components/sass/_modules.scss */
.blog-post .blog-summary {
  min-height: 8em;
}

@media screen and (min-width: 640px) and (max-width: 764px) {
  /* line 467, ../components/sass/_modules.scss */
  .blog-post h3, .blog-post h4 {
    min-height: 4.5em;
  }
  /* line 471, ../components/sass/_modules.scss */
  .blog-post .blog-summary {
    min-height: 11em;
  }
}
/**** Our blog-posts - Default grid extension for our blog page - end ****/
/*================================= HERO PANEL =================================*/
/**************************** intrinsic ratio HERO PANEL - beginning ************************/
/* line 486, ../components/sass/_modules.scss */
#Hero {
  position: relative;
  padding-bottom: 31%;
  height: 0;
}

/* line 493, ../components/sass/_modules.scss */
.heroContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/bfitp_hero_panel_bg_1300x404_flipped.jpg) 0 0 no-repeat;
  background-size: 100% auto;
}
/* line 503, ../components/sass/_modules.scss */
.heroContent .heroText {
  width: 44%;
  margin-left: 3%;
  margin-top: 2%;
}
/* line 510, ../components/sass/_modules.scss */
.heroContent h1, .heroContent h2, .heroContent p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  color: #f0f3f0;
}
/* line 517, ../components/sass/_modules.scss */
.heroContent h1 {
  font-size: 1.5em;
}

@media screen and (max-width: 639px) {
  /* line 525, ../components/sass/_modules.scss */
  #Hero {
    height: 1%;
    padding-bottom: 0%;
  }

  /* line 531, ../components/sass/_modules.scss */
  .heroContent {
    position: static;
  }
  /* line 534, ../components/sass/_modules.scss */
  .heroContent .heroText {
    clear: both;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 33%;
  }
  /* line 544, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #d5ded2;
    box-sizing: border-box;
  }
  /* line 551, ../components/sass/_modules.scss */
  .heroContent h1 {
    display: none;
  }
  /* line 557, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1.25em;
  }
  /* line 561, ../components/sass/_modules.scss */
  .heroContent p {
    border-bottom: 2px dashed #3c423b;
  }
}
@media screen and (min-width: 640px) and (max-width: 760px) {
  /* line 573, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 78%;
  }
  /* line 577, ../components/sass/_modules.scss */
  .heroContent h1 {
    font-size: 1.1em;
    margin-bottom: .3em;
  }
  /* line 582, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1em;
    margin-bottom: .3em;
  }
  /* line 587, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 7px;
  }
}
@media screen and (min-width: 761px) and (max-width: 790px) {
  /* line 598, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 78%;
  }
  /* line 602, ../components/sass/_modules.scss */
  .heroContent h1 {
    font-size: 1.2em;
    margin-bottom: .4em;
  }
  /* line 607, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1.1em;
    margin-bottom: .4em;
  }
  /* line 612, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 9px;
  }
}
@media screen and (min-width: 791px) and (max-width: 850px) {
  /* line 622, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 78%;
  }
  /* line 626, ../components/sass/_modules.scss */
  .heroContent h1 {
    font-size: 1.3em;
    margin-bottom: .5em;
  }
  /* line 631, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1.2em;
    margin-bottom: .5em;
  }
  /* line 636, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 11px;
  }
}
@media screen and (min-width: 851px) and (max-width: 895px) {
  /* line 644, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 65%;
  }
}
@media screen and (min-width: 896px) and (max-width: 990px) {
  /* line 651, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 50%;
  }
}
/********* intrinsic ratio HERO PANEL - end **************/
/*================================= MIX IT UP =================================*/
/********* mix it up control bar - beginning **************/
/* line 662, ../components/sass/_modules.scss */
.control-bar {
  background: #768174;
  background: rgba(185, 200, 181, 0.4);
  margin-bottom: 1%;
  padding: 5px 10px;
  overflow: hidden;
}

/* line 670, ../components/sass/_modules.scss */
.control-bar label {
  margin: 0 5px 0 15px;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

/* line 676, ../components/sass/_modules.scss */
.control-bar .group {
  display: inline-block;
}

/* line 680, ../components/sass/_modules.scss */
.nav.full-width {
  float: initial;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: .5% 0;
  box-sizing: border-box;
  background: transparent;
}
/* line 689, ../components/sass/_modules.scss */
.nav.full-width li {
  padding-top: 0;
}
/* line 692, ../components/sass/_modules.scss */
.nav.full-width a {
  color: #3A3F39;
  padding: .5% 3%;
}

/* line 700, ../components/sass/_modules.scss */
.nav.full-width a:hover,
.nav.full-width li.current a {
  color: #e1f0a4;
  background: #3A3F39;
  background-color: rgba(83, 90, 81, 0.5);
  border: 2px dashed rgba(189, 222, 55, 0.3);
  text-decoration: none;
}

@media screen and (max-width: 639px) {
  /* line 710, ../components/sass/_modules.scss */
  #PageNav {
    clear: both;
  }

  /* line 713, ../components/sass/_modules.scss */
  .nav.full-width {
    background: transparent;
    padding: .5% 1%;
  }
  /* line 716, ../components/sass/_modules.scss */
  .nav.full-width a {
    padding: .7% .5%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 724, ../components/sass/_modules.scss */
  .nav.full-width {
    background: transparent;
  }
  /* line 726, ../components/sass/_modules.scss */
  .nav.full-width a {
    font-size: 1.1em;
  }
}
/********* mix it up buttons - end **************/
/********* mix it up grid - beginning **************/
/* line 736, ../components/sass/_modules.scss */
#Container .mix {
  display: none;
}

/* line 740, ../components/sass/_modules.scss */
#Container {
  text-align: justify;
  font-family: "zero-width";
  font-size: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 200px;
  overflow: hidden;
  padding: 0;
}

/* line 753, ../components/sass/_modules.scss */
#Container > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

/* line 762, ../components/sass/_modules.scss */
#Container:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 769, ../components/sass/_modules.scss */
#Container .mix {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 2%;
  vertical-align: top;
  min-height: 110px;
  border: 2px dashed #585f56;
}
/* line 776, ../components/sass/_modules.scss */
#Container .mix p {
  line-height: 1.4em;
  font-size: 1.7rem;
  padding: 1em;
}

/* line 782, ../components/sass/_modules.scss */
#Container .mix:before {
  content: '';
  display: inline-block;
  padding-top: 5%;
  vertical-align: middle;
}

/* line 788, ../components/sass/_modules.scss */
#Container .mix:after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right-color: white;
  top: -20px;
  left: -20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 800, ../components/sass/_modules.scss */
#Container .mix.webdev:after {
  border-right-color: #ABF381;
}

/* line 803, ../components/sass/_modules.scss */
#Container .mix.threeD:after {
  border-right-color: #76DFC0;
}

/* line 806, ../components/sass/_modules.scss */
#Container .mix.animation:after {
  border-right-color: #FFB587;
}

/* line 809, ../components/sass/_modules.scss */
#Container .mix.drawing:after {
  border-right-color: #F481A9;
}

/* line 812, ../components/sass/_modules.scss */
#Container .gap,
#Container .mix {
  width: 23%;
}

/********* mix it up grid - end **************/
