/* 
    Created on : 06-Jan-2015, 08:02:58
    Author     : Edit
*/
// _mixitup.scss
// ============


/*================================= MIX IT UP =================================*/

/********* mix it up control bar - beginning **************/

.control-bar {
    background: #768174;
    //background: rgba(185, 200, 181, .4);
    background: $primaryBG;
    margin-top: 2.5%;    
    margin-bottom: 1.5%;
    padding: 10px;
    overflow: hidden;
    font-family: $zerowidthFont;
    font-size: 0; // adjusting typographic CSS properties that affect the site layout's whitespace
    position: relative;
    
    label {
	color: lighten($greenBG2, 25);
	margin: 0 5px 0 15px;
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.5;
	font-family: $baseFont;
    }
    
    .group {
	display: inline-block;
	font-family: $baseFont;
	font-size: 1rem;
	
	button {
	    font-family: $baseFont;
	    font-size: 1.3rem;
	    line-height: 1.3;
	    color: $primaryFontColor;
	    background: $primaryBG;
	    background-color: rgba(83,90,81,.5);
	    border: 2px dashed rgba(171, 243, 129, .1);
	    text-decoration: none;
	    padding: 5px 10px;
	    min-width: 70px;
	    font-weight: $bold;

	    &:hover, &:focus, &.active {
		background: $primaryFontColor;
		border: 2px dashed rgba(83,90,81,.5);
		color: $primaryBG;
	    }
	}
    }
  
    .filter-buttons {
	button {
	    @include mixitupRect(10px);
	}
	button[data-filter=".webdev"]:after{
	    border-right-color: $lightGreen;
	}
	button[data-filter=".drupal"]:after{
	    border-right-color: $drupalBlue;
	}
	button[data-filter=".threeD"]:after{
	    border-right-color: $lightOrange;
	}
	button[data-filter=".animation"]:after{
	    border-right-color: darken($lightOrange,20);
	}
	button[data-filter=".drawing"]:after{
	    border-right-color: lighten($lightMagneta,10);
	}
    }  
}

#Portfolio {
    .control-bar {
	.group:first-child {
	    margin-bottom: 1%;
	}
	
	.filter-buttons {
	    button[data-filter=".html"]:after{
		border-right-color: $lightTurq;
	    }
	    button[data-filter=".css"]:after{
		border-right-color: darken($lightTurq,27);
	    }
	    button[data-filter=".sass"]:after{
		border-right-color: darken($lightTurq,40);
	    }
	    button[data-filter=".css-animation"]:after{
		border-right-color: darken($lightTurq,52);
	    }
	    button[data-filter=".drupal-project"]:after{
		border-right-color: $drupalBlue;
	    }
	    button[data-filter=".website-project"]:after{
		border-right-color: $secondaryFontColor;
	    }
	    button[data-filter=".js-jquery"]:after{
		border-right-color: $semiLightMagneta;
	    }
	    button[data-filter=".angularjs"]:after{
		border-right-color: $semiDarkMagneta;
	    }
	    
	}  
    }
}



@media screen and (min-width: 320px) and (max-width: 534px) {
    .control-bar{
	
	.group{
	    button{
		padding: 3px 7px;
	    }
	}
	
	.filter-buttons{
	    width:100%;
	    
	    button{
		display: block;
		min-width: initial;
		width: 100%;
		text-align: left;
		margin-bottom: .7%;
	    }
	}
    }
}


@media screen and (max-width: 615px) {
    .control-bar {
	label{
	    display: block;
	    margin: .4em .1em;
	}
    }
}
@media screen and (max-width: 823px) {
     .control-bar {
	.group:first-child {
	    margin-bottom: 1%;
	}
    }
}



/********* mix it up buttons - end **************/

/********* mix it up grid - beginning **************/

#Container {
    @include mixitupContainer;
    
    .mix {
	@include mixitupMix;
	
	@include mixitupRect(20px);
    }
    
    .mix.webdev:after {
	border-right-color: $lightGreen;
    }

    .mix.drupal:after {
	border-right-color: $drupalBlue;
    }

    .mix.threeD:after {
	border-right-color: $lightOrange;
    }
    .mix.animation:after {
	border-right-color: darken($lightOrange,20);
    }
    .mix.drawing:after {
	border-right-color:  lighten($lightMagneta,10);
    }
}

#PortfolioContainer {
    
  @include mixitupContainer;
  
  .portfoMix {
    @include mixitupMix;
    
    @include mixitupRect(20px);
    
    padding: 10px;
    box-sizing: border-box;
    
    img {
	width: 100%;
	height: auto;
	margin: 0 auto;
    }
  }
  
  .portfoMix.html:after {
	border-right-color: $lightTurq;
  }
  .portfoMix.css:after {
	border-right-color: darken($lightTurq,27);
  }
  .portfoMix.sass:after {
	border-right-color: darken($lightTurq,40);
  }
  .portfoMix.css-animation:after {
	border-right-color: darken($lightTurq,52);
  }
  .portfoMix.drupal-project:after {
	border-right-color: $drupalBlue;
  }
  .portfoMix.website-project:after {
	border-right-color: $secondaryFontColor;
  }
  .portfoMix.js-jquery:after {
	border-right-color: $semiLightMagneta;
  }
  .portfoMix.angularjs:after {
	border-right-color:  $semiDarkMagneta;
  }
}

#Container > *,
#PortfolioContainer > * {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-family: $baseFont;
    font-size: 1rem;
}

@media screen and (max-width: 459px){
    #Container {
	.mix {
	    width: $mixitupWidth3;
	    min-height: 44px;
	    p {
		padding: .1em 1.5em;
		font-size: 1.2rem;
		line-height: 1.2;
	    }
	}
	
	.gap {
	    width: $mixitupWidth3;
	}

    }
}




@media screen and (min-width: 460px) and (max-width: 551px){
    #Container {
	.mix {
	    width: $mixitupWidth2;
	    min-height: 60px;
	    
	    p {
		padding: .1em 1.5em;
		font-size: 1.3rem;
		line-height: 1.3;
	    }
	}
	
	.gap {
	    width: $mixitupWidth2;
	}

    }
    
}



@media screen and (min-width: 550px) and  (max-width: 648px) {
    #Container {
	.mix {
	    min-height: 117px;
	}
    }
}


@media screen and (min-width: 649px) and (max-width: 831px) {
    #Container {
	.mix {
	    min-height: 94px;
	}
    }
}



/********* mix it up grid - end **************/

