/* line 5, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Feb-2015, 21:08:01
    Author     : Edit
*/
@font-face {
  font-family: sourceCodeProNormal;
  src: url(./fonts/SourceCodePro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
/* Example:
@font-face {
    font-family: 'uglyqua';
    src: url('./fonts/uglyqua-webfont.eot');
    src: url('./fonts/uglyqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/uglyqua-webfont.woff') format('woff'),
         url('./fonts/uglyqua-webfont.ttf') format('truetype'),
         url('./fonts/uglyqua-webfont.svg#uglyquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
/* 
    Created on : 06-Jan-2015, 07:57:18
    Author     : Edit
*/
/* 
    Created on : 06-Jan-2015, 07:59:51
    Author     : Edit
*/
/* 
    Created on : 06-Jan-2015, 07:56:17
    Author     : Edit
*/
/*================================= GLOBAL LAYOUTS BASE =============================================*/
/* line 11, ../components/sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 13, ../components/sass/_base.scss */
body {
  background: #3A3F39;
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #B9C8B5;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  max-width: 2000px;
  margin: 0 auto;
}

/* line 28, ../components/sass/_base.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* 
    Created on : 07-Jan-2015, 21:52:49
    Author     : Edit
*/
/*=================================GLOBAL LAYOUT =============================================*/
/* line 11, ../components/sass/_layout.scss */
html {
  width: 100%;
}

/* line 16, ../components/sass/_layout.scss */
.container,
#HeaderWrapper {
  width: 100%;
  max-width: 1024px;
  margin: 10px auto;
}

/**************************** fluid grid MAIN NAVIGATION ************************/
/* line 28, ../components/sass/_layout.scss */
#MainNav {
  margin-top: 10px;
}

/* line 32, ../components/sass/_layout.scss */
.nav {
  width: 60%;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 0.1px;
}
/* line 40, ../components/sass/_layout.scss */
.nav li {
  display: inline;
  width: 19%;
  padding-top: 3%;
  margin-bottom: 1%;
  font-size: 13px;
  line-height: 2;
  text-align: center;
}
/* line 50, ../components/sass/_layout.scss */
.nav a {
  display: inline-block;
  margin-bottom: 0;
  padding: 20px 12px;
  line-height: 1;
  text-decoration: none;
  color: #bfcabc;
  font-weight: 700;
  font-size: 1.4em;
  white-space: nowrap;
  border: 2px solid transparent;
}

/* line 65, ../components/sass/_layout.scss */
.nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 72, ../components/sass/_layout.scss */
.nav a:hover,
.nav li.current a {
  color: #dbedd6;
  background-color: #535a51;
  border-radius: 3px;
  border: 2px dashed #464c45;
}

/*.nav .placeholder {
    padding: 0;
}*/
@media screen and (max-width: 639px) {
  /* line 87, ../components/sass/_layout.scss */
  #MainNav {
    margin-top: 0;
  }

  /* line 91, ../components/sass/_layout.scss */
  .nav {
    clear: both;
    width: 100%;
    background: #2e322d;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    margin-top: 0;
  }
  /* line 98, ../components/sass/_layout.scss */
  .nav li {
    padding-top: 0%;
  }
  /* line 103, ../components/sass/_layout.scss */
  .nav a:link {
    padding: 20px 5%;
    line-height: 1;
    font-weight: 400;
    font-size: 0.9em;
  }
  /* line 110, ../components/sass/_layout.scss */
  .nav a:hover {
    border: 2px dashed #464c45;
  }
  /* line 114, ../components/sass/_layout.scss */
  .nav a:active {
    border: 2px dashed #464c45;
  }
  /* line 118, ../components/sass/_layout.scss */
  .nav a:visited {
    border: 2px dashed #464c45;
  }
}
@media screen and (min-width: 320px) and (max-width: 547px) {
  /* line 128, ../components/sass/_layout.scss */
  .nav a:link {
    padding: 20px 1%;
  }
}
@media screen and (min-width: 640px) and (max-width: 678px) {
  /* line 136, ../components/sass/_layout.scss */
  .nav {
    width: 50%;
  }
  /* line 139, ../components/sass/_layout.scss */
  .nav a {
    font-size: .9em;
    padding: 20px 3px;
  }
}
@media screen and (min-width: 679px) and (max-width: 708px) {
  /* line 149, ../components/sass/_layout.scss */
  .nav {
    width: 53%;
  }
  /* line 152, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1em;
    padding: 20px 5px;
  }
}
@media screen and (min-width: 709px) and (max-width: 789px) {
  /* line 164, ../components/sass/_layout.scss */
  .nav {
    width: 55%;
  }
  /* line 167, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1em;
    padding: 20px 7px;
  }
}
@media screen and (min-width: 790px) and (max-width: 869px) {
  /* line 177, ../components/sass/_layout.scss */
  .nav {
    width: 56%;
  }
  /* line 180, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1.05em;
  }
}
@media screen and (min-width: 870px) and (max-width: 890px) {
  /* line 190, ../components/sass/_layout.scss */
  .nav {
    width: 57%;
  }
  /* line 193, ../components/sass/_layout.scss */
  .nav a {
    font-size: 1.2em;
  }
}
/*================================= HOME PAGE LAYOUT =============================================*/
/**************************** ABOUT US -home page- ************************/
/* line 208, ../components/sass/_layout.scss */
#AboutUsContentHolder {
  padding: 25px;
  background-color: #4b524a;
  border-radius: 3px;
  border: 2px dashed #3f443e;
}

/**************************** FOOTER ************************/
/* line 218, ../components/sass/_layout.scss */
#Footer {
  clear: both;
  background: #2e322d;
}
/* line 222, ../components/sass/_layout.scss */
#Footer .container {
  margin-bottom: 0;
  box-sizing: border-box;
}
/* line 226, ../components/sass/_layout.scss */
#Footer .container p {
  margin-bottom: 0;
  padding: 20px 0px;
}

/*================================= CONTACT PAGE LAYOUT =============================================*/
/* line 236, ../components/sass/_layout.scss */
#Contact {
  margin-bottom: 2%;
}

/*========================== MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS ====================================*/
@media screen and (max-width: 639px) {
  /* line 249, ../components/sass/_layout.scss */
  .container, #HeaderWrapper {
    width: 100%;
    margin-top: 0;
  }

  /* line 254, ../components/sass/_layout.scss */
  .page {
    float: left;
    clear: both;
    width: 100%;
  }

  /* line 260, ../components/sass/_layout.scss */
  #AboutUsContentHolder {
    padding: 15px;
  }

  /* line 264, ../components/sass/_layout.scss */
  #Footer .container {
    padding: 0 15px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 272, ../components/sass/_layout.scss */
  #Footer .container {
    padding: 0 15px;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Feb-2015, 08:01:36
    Author     : Edit
*/
/*================================= GLOBAL TEXTS =================================*/
/* line 18, ../components/sass/_texts.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sourceCodeProNormal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #85E14F;
  font-weight: 600;
}

/* line 24, ../components/sass/_texts.scss */
h1 {
  font-size: 1.8em;
  color: #a3e87b;
  margin-bottom: .7em;
  line-height: 1.3em;
}

/* line 31, ../components/sass/_texts.scss */
h2 {
  font-size: 1.3em;
  color: #85E14F;
  margin-bottom: .6em;
}

/* line 38, ../components/sass/_texts.scss */
h3 {
  font-size: 1.2em;
  margin-bottom: .5em;
}

/* line 43, ../components/sass/_texts.scss */
a {
  text-decoration: none;
  color: #85E14F;
  font-weight: 400;
}

/* line 49, ../components/sass/_texts.scss */
a:hover {
  text-decoration: underline;
  color: #ABF381;
}

/* line 54, ../components/sass/_texts.scss */
a, p, li {
  font-size: 1em;
  margin-bottom: .5em;
}

/* line 59, ../components/sass/_texts.scss */
ul, li {
  list-style-type: none;
}

/********** Bfitp logo *******/
/* line 65, ../components/sass/_texts.scss */
#HeaderWrapper .container h1 {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
}
/* line 71, ../components/sass/_texts.scss */
#HeaderWrapper .container h1 span {
  display: block;
  width: 290px;
  height: 70px;
  background: url(/images/logo_with_text_290x70.png) no-repeat;
  text-decoration: none;
  text-indent: -9999px;
  margin-top: 5px;
  background-position: 0%;
}

/********** grid *******/
/* line 86, ../components/sass/_texts.scss */
.grid li h3, .grid li h4, .grid li p {
  text-align: left;
}
/* line 91, ../components/sass/_texts.scss */
.grid li h3 {
  font-size: 1.9em;
  margin-bottom: .5em;
  color: #ABF381;
}
/* line 97, ../components/sass/_texts.scss */
.grid li h4 {
  font-size: 1.8em;
  margin-bottom: 1em;
}
/* line 103, ../components/sass/_texts.scss */
.grid li p a {
  font-size: 1.6em;
}
/* line 107, ../components/sass/_texts.scss */
.grid li .email {
  font-size: 1.2em;
}
/* line 109, ../components/sass/_texts.scss */
.grid li .email a {
  font-size: 1.1em;
  word-wrap: break-word;
}
/* line 115, ../components/sass/_texts.scss */
.grid li p.button a {
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.4em;
  color: #dbedd6;
  background-color: #6b7569;
  border: 2px dashed #464c45;
  border-radius: 3px;
}
/* line 126, ../components/sass/_texts.scss */
.grid li p.button a:hover {
  background-color: #464c45;
  border: 2px dashed #6b7569;
}

/********** grid - blog-section *******/
/* line 134, ../components/sass/_texts.scss */
.blog-section li h3 {
  font-size: 1.3em;
}
/* line 138, ../components/sass/_texts.scss */
.blog-section li h4 {
  font-size: 1.2em;
}

/*========================== MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS ====================================*/
@media screen and (max-width: 639px) {
  /* line 149, ../components/sass/_texts.scss */
  #HeaderWrapper .container h1 {
    clear: both;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  /* line 155, ../components/sass/_texts.scss */
  #HeaderWrapper .container h1 span {
    width: 100%;
    background-position: 50%;
    margin-top: 5px;
  }

  /* line 165, ../components/sass/_texts.scss */
  .grid li h3 {
    margin-top: 1.3em;
  }
  /* line 169, ../components/sass/_texts.scss */
  .grid li h4 {
    margin-bottom: .8em;
  }
  /* line 173, ../components/sass/_texts.scss */
  .grid li p {
    clear: both;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
  /* line 181, ../components/sass/_texts.scss */
  .grid li p.button a {
    padding: 5px 10px;
    width: 90%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
  }

  /* line 191, ../components/sass/_texts.scss */
  #Footer .container p {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 202, ../components/sass/_texts.scss */
  .grid li h3 {
    font-size: 1.7em;
    margin-bottom: .7em;
    padding-top: 7px;
  }
  /* line 209, ../components/sass/_texts.scss */
  .grid li h4 {
    font-size: 1.6em;
    margin-bottom: .5em;
  }
  /* line 215, ../components/sass/_texts.scss */
  .grid li p.button a {
    width: 100%;
    white-space: nowrap;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    clear: both;
  }
}
/* 
    Created on : 06-Jan-2015, 08:02:58
    Author     : Edit
*/
/*================================= GRIDS =================================*/
/****************** Default grid - beginning **********************/
/* line 12, ../components/sass/_modules.scss */
.grid {
  margin-bottom: 40px;
  text-align: justify;
  font-size: 0.1px;
}
/* line 17, ../components/sass/_modules.scss */
.grid li {
  display: inline-block;
  width: 49%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 1%;
  background-color: #535a51;
  border-radius: 3px;
  border: 2px dashed #464c45;
  vertical-align: top;
}

/* line 30, ../components/sass/_modules.scss */
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 37, ../components/sass/_modules.scss */
.grid-contentHolder {
  font-size: 10px;
  padding: 0px 25px 10px 25px;
  box-sizing: border-box;
}
/* line 42, ../components/sass/_modules.scss */
.grid-contentHolder img {
  width: 12em;
  height: auto;
  float: left;
  margin-right: 3%;
}

@media screen and (max-width: 639px) {
  /* line 56, ../components/sass/_modules.scss */
  .grid li {
    width: 100%;
    padding-top: 1%;
    margin-bottom: 1%;
    box-sizing: border-box;
  }
  /* line 62, ../components/sass/_modules.scss */
  .grid li .grid-contentHolder {
    padding: 0px 15px 10px 15px;
  }
  /* line 65, ../components/sass/_modules.scss */
  .grid li .grid-contentHolder img {
    width: 11em;
    margin-right: 3%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 81, ../components/sass/_modules.scss */
  .grid li {
    width: 48.5%;
    padding-top: 3%;
    margin-bottom: 2%;
    box-sizing: border-box;
  }
  /* line 88, ../components/sass/_modules.scss */
  .grid .grid-contentHolder {
    min-height: 156px;
    box-sizing: border-box;
  }
  /* line 92, ../components/sass/_modules.scss */
  .grid .grid-contentHolder img {
    padding-bottom: 15px;
  }
}
/**** Default grid - beginning ****/
/********** Stretched / full width / blog-section grid - beginning ***************/
/* line 108, ../components/sass/_modules.scss */
.grid.grid-stretched-layout li {
  width: 32%;
  padding-bottom: 0%;
}
/* line 112, ../components/sass/_modules.scss */
.grid.grid-stretched-layout li p.button a {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
/* line 119, ../components/sass/_modules.scss */
.grid.grid-stretched-layout img {
  width: 100%;
  height: auto;
  margin: 0 auto 4%;
  float: none;
  display: block;
}
/* line 128, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder {
  width: 100%;
}
/* line 131, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder .socialIcons {
  padding: 5px;
  margin-bottom: 6%;
}
/* line 135, ../components/sass/_modules.scss */
.grid.grid-stretched-layout .grid-contentHolder .socialIcons img {
  width: 14%;
  height: auto;
  padding: 5px;
  margin: 0;
  display: inline;
}

/* line 149, ../components/sass/_modules.scss */
.grid.grid-stretched-layout > li:last-child {
  border: 2px dashed #353a34;
  background-color: #464c45;
}

/* line 153, ../components/sass/_modules.scss */
.grid.grid-stretched-layout > li:last-child .grid.grid-full-width > li {
  background-color: #464c45;
}

/* line 158, ../components/sass/_modules.scss */
.grid.grid-full-width > li {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px dashed #535a51;
}

/* line 166, ../components/sass/_modules.scss */
.grid.grid-full-width > li:first-child {
  padding-top: 0;
}

/* line 170, ../components/sass/_modules.scss */
.grid-stretched-layout .grid-full-width.blog-section p.button a {
  padding: 4px;
}

/* line 174, ../components/sass/_modules.scss */
.grid-full-width.blog-section {
  margin-bottom: 0px;
}

/**** Stretched / full width / blog-section grid - beginning  - end ****/
/*================================= HERO PANEL =================================*/
/**************************** intrinsic ratio HERO PANEL - beginning ************************/
/* line 190, ../components/sass/_modules.scss */
#Hero {
  position: relative;
  padding-bottom: 32%;
  height: 0;
}

/* line 197, ../components/sass/_modules.scss */
.heroContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/bfitp_hero_panel_bg_1300x404_flipped.jpg) 0 0 no-repeat;
  background-size: 100% auto;
}
/* line 207, ../components/sass/_modules.scss */
.heroContent .heroText {
  width: 44%;
  margin-left: 3%;
  margin-top: 2%;
}
/* line 214, ../components/sass/_modules.scss */
.heroContent h1, .heroContent h2, .heroContent p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  color: #f0f3f0;
}
/* line 221, ../components/sass/_modules.scss */
.heroContent h1 {
  font-size: 1.5em;
}

@media screen and (max-width: 639px) {
  /* line 229, ../components/sass/_modules.scss */
  #Hero {
    height: 1%;
    padding-bottom: 0%;
  }

  /* line 235, ../components/sass/_modules.scss */
  .heroContent {
    position: static;
  }
  /* line 238, ../components/sass/_modules.scss */
  .heroContent .heroText {
    clear: both;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 33%;
  }
  /* line 248, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #d5ded2;
    box-sizing: border-box;
  }
  /* line 255, ../components/sass/_modules.scss */
  .heroContent h1 {
    display: none;
  }
  /* line 261, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1.25em;
  }
  /* line 265, ../components/sass/_modules.scss */
  .heroContent p {
    border-bottom: 2px dashed #3c423b;
  }
}
@media screen and (min-width: 640px) and (max-width: 760px) {
  /* line 277, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 78%;
  }
  /* line 281, ../components/sass/_modules.scss */
  .heroContent h1 {
    font-size: 1.1em;
    margin-bottom: .3em;
  }
  /* line 286, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1em;
    margin-bottom: .3em;
  }
  /* line 291, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 7px;
  }
}
@media screen and (min-width: 761px) and (max-width: 790px) {
  /* line 302, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 78%;
  }
  /* line 306, ../components/sass/_modules.scss */
  .heroContent h1 {
    font-size: 1.2em;
    margin-bottom: .4em;
  }
  /* line 311, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1.1em;
    margin-bottom: .4em;
  }
  /* line 316, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 9px;
  }
}
@media screen and (min-width: 791px) and (max-width: 850px) {
  /* line 326, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 78%;
  }
  /* line 330, ../components/sass/_modules.scss */
  .heroContent h1 {
    font-size: 1.3em;
    margin-bottom: .5em;
  }
  /* line 335, ../components/sass/_modules.scss */
  .heroContent h2 {
    font-size: 1.2em;
    margin-bottom: .5em;
  }
  /* line 340, ../components/sass/_modules.scss */
  .heroContent h1, .heroContent h2, .heroContent p {
    padding: 11px;
  }
}
@media screen and (min-width: 851px) and (max-width: 895px) {
  /* line 348, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 65%;
  }
}
@media screen and (min-width: 896px) and (max-width: 990px) {
  /* line 355, ../components/sass/_modules.scss */
  .heroContent .heroText {
    width: 50%;
  }
}
/********* intrinsic ratio HERO PANEL - end **************/
